<div class="container clearfix">
  <div class="row">
    <div class="col">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
          <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
        </ul>
      </div>

    </div>
  </div>
  <table class="table table-success table-striped" >
    <thead>
      <tr>
        <th><input type="checkbox" class="form-check-input" name="" id=""></th>
        <th>Name</th>
        <th>Image</th>
        <th>Number</th>
        <th>Color</th>
        <th>Size</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><input type="checkbox" name="" id="" class="form-check-input"></th>
        <td>Bach</td>
        <td><img src="assets/images/product_1.png" alt="" width="100px"></td>
        <td><input type="number" [value]="1"></td>
        <td><input type="color" [value]="['red']" [disabled]="true"></td>
        <td>M</td>
        <td><span (click)="delete()" class="btn btn-danger ti-trash"></span></td>
      </tr>
    </tbody>
  </table>
</div>